module.exports=`
/**/

.zp122 input {
    display: none;
}

.zp122 .zbtn {
    margin: 5px;
}

.zp122 .zsvg {
    color: currentColor;
}

.zp122 .zhover {
    color: silver;
    padding: .3em;
}

.zp122D {
    padding: 5px 0px;
    height: 30px;
    box-sizing: border-box;
}

.zdesktop .zp122D .zdel {
    display: none;
}

.zdesktop .zp122D:hover .zdel {
    display: inline-flex;
}

.zp122D .zmove {
    cursor: move;
}

.zp122Drag {
    z-index: 99;
    border: 1px solid #d5d5d5;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2), 0 -5px 5px -5px rgba(0, 0, 0, .2);
    background-color: white;
}

.zp122Drop {
    background-color: gainsboro;
}

.zp122Drop * {
    display: none;
}

.zp122U {
    color: gray;
}

.zp122U i {
    background: gainsboro;
    margin-right: 5px;
}

`